[Unit]
Description=Network manager tray applet

[Service]
ExecStart=nm-applet
Restart=always
Type=simple
StandardOutput=journal

[Install]
WantedBy=default.target
