[user]
	email = chris@error.cm
	name = Christopher Mckay
[core]
	excludesfile = ~/.gitignore_global
[pull]
	ff = only
[alias]
  gone = ! "git fetch -p && git for-each-ref --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" {print $1}' | xargs -r git branch -D"

[init]
	defaultBranch = trunk
[push]
	autoSetupRemote = true
